---
import { getCollection } from 'astro:content';
import BaseLayout from '../../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => {
    const [lang, slug] = post.slug.split('/');
    return {
      params: { lang, slug },
      props: post,
    };
  });
}

const post = Astro.props;
const { Content } = await post.render();
---
<BaseLayout title={post.data.title} description={post.data.description}>
  <article class="prose lg:prose-xl">
    <h1>{post.data.title}</h1>
    <p>Veröffentlicht am: {post.data.pubDate.toLocaleDateString('de-DE')}</p>
    <hr />
    <Content />
  </article>
</BaseLayout>